 
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Andriankotomiarintsoa Tsiry Nasadratra</title>
     <link rel="stylesheet" href="cv.css">

</head>
<body>
    <div class="container">
     <div class="left_side">
     <div class="profiltext">
     <div class="imgBx">
         <img src="pdp_n1.jpg" alt="">
     </div>
    <h2>ANDRIANKOTOMIARINTSOA Tsiry Nasandratra</h2> 
     </div>
    <div class="contact">
        <h3 class="cnt">INFOS et CONTACT</h3>
      <ul>
        <li>
            <span class="icon"></span>
            <span class="text"> 24 janvier  à  Befelatanana</span>
        </li>

        <li>
            <span class="icon"></span>
            <span class="text"> CIN 101251208938  </span>
        </li>
        <li>
            <span class="icon"></span>
            <span class="text"> II B 108 D MANJAKARAY </span>
        </li>
        
        <li>
            <span class="icon"></span>
            <span class="text"> +261 345685692 MgTELMA </span>
        </li>
        <li>
            <span class="icon"></span>
            <span class="text"> myarinas24@gmail.com </span>
        </li> <li>
            <span class="icon"></span>
            <span class="text"> facebook / Myari N'asandratra </span>
        </li>    
    </ul> 
    </div> 
       <br>                                                            </br>
    <div class="contact.langue">
        <h3 class="cnt">CONNAISSANCES LINGUISTIQUES</h3>
      <ul>
        <li>
            <span class="text"> MALAGASY</span>
            <span class="percent"></span>
        </li>

        <li>
            <span class="text"> FRACAIS </span>
            <span class="percent"></span>
           
        </li>
        <li>
            <span class="text"> ANGLAIS </span>
            <span class="percent"></span>
        </li>
        
    
    </div> 


        </div>  
     </div>
     <div class="right_side">
           

     </div>   
    </div>
</body>
</html>
